

body {
    background: linear-gradient(45deg, #472505, #000407,orange);
     margin: 0;
    padding: 0;
    font-family: 'barlow', monospace;
    height: 100vh;
    
   
}
.header{
   
    background-color: #F2B441;
    color: black;
    border-bottom: 3px solid #000000;


}

.container{
    width: 80%;
    margin: 0 auto;
   
}




.header .container{
    display: flex;
    justify-content:space-between
    
}
.navbar{
   
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    align-items: center;
}
.navbar a{
    color: black;
    text-decoration: none;

}

.center {
    background: white;
    width: 320px;
    height: 40vh;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 120px;
    left: 40%
}

div h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

div h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg,  #472505, #000407,orange);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg,  #472505, #000407,orange);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left,  #472505, #000407,orange);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #472505, #000407,orange);
}
