body {
    margin: 0;
    padding: 0;
    font-family: 'barlow', monospace;

}

.header{
    background-color: #F2B441;
    color: black;
    border-bottom: 3px solid #000000;


}

.container{
    width: 80%;
    margin: 0 auto;
}




.header .container{
    display: flex;
    justify-content:space-between
    
}
.navbar{
   
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    align-items: center;
}
.navbar a{
    color: black;
    text-decoration: none;

}


.banner {
    background-image: url('unsplash_A5rCN8626Ck.png');
    background-size: cover;
 
}

.banner .container {
    height: 650px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.banner .container.login {
    justify-content: center;
}

.banner p {
    font-size: 36px;
    width: 350px;
    margin-left: 20%;

}

.footer {
    background-color: black;
    color: #ffffff;  
}
.footer .container{
    display: flex;
    justify-content: center;
    height: 150px;
   align-items: center;
}
.agora {
    font-weight: 200;
}

.card {
    background-color: #E5e5e5;
    color: #E6005A;
    border: 3px solid #32b9cd;
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    width: 250px;
}

.card h2 {
    margin: 0;
}
form label {
    margin-top: 8px;
}

form input {
    margin-top: 8px;
    outline: #32b9cd 3px solid;
    border-radius: 10px;
    border: 0;
    padding: 8px;
}
form button{
    margin-top: 16px;
    background-color: #E6005A;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
    width: 120px;
    align-self: center;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}